header {
    padding-top: 70px;
    width: 100%;
    height: 300px;
    background-image: url("../../../assets/images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 540px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        color: #FFFFFF;
        letter-spacing: 15px;
        margin-bottom: 40px;

        img {
            content: url("../../../assets/images/icon-moon.svg");
        }
    }
}
.header.dark{
    background-image: url("../../../assets/images/bg-desktop-dark.jpg");
}
#toogle.dark{
    content: url("../../../assets/images/icon-sun.svg");
}

@media only screen and (max-width: 600px) {
    header{
        width: 375px;
        height: 200px;
        background-size: 100%;
        .title{
            width: 325px;
            font-size: 20px;
            margin-bottom: 16px;
        }
    }

}