.task-option{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "item filter clear";
    width: 540px;
    height: 64px;
    margin: 0 auto;
    position: relative;
    background-color: white;
    top: -150px;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    color: #9495A5;
    .item-left{
        grid-area: item;
        // justify-self: center;
        align-self: center;
    }
    .filter{
        grid-area: filter;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .all:hover{
            color: #494C6B;
            cursor: pointer;
        }
        .active:hover{
            color: #494C6B;
            cursor: pointer;

        }
        .completed:hover{
            color: #494C6B;
            cursor: pointer;

        }
        .selected{
            color:#3A7CFD;
        }
        .selected:hover{
            color:#3A7CFD;
            cursor: text;
        }
    }
    .clear{
        grid-area: clear;
        justify-self: end;
        align-self: center;
    }
    .clear:hover{
        color: #494C6B;
        cursor: pointer;
    }
}
.task-option.dark{
    background-color: #25273D;
    color: #5B5E7E;
    .filter{
        .all:hover{
            color: #E3E4F1;
            cursor: pointer;
        }
        .active:hover{
            color: #E3E4F1;
            cursor: pointer;

        }
        .completed:hover{
            color: #E3E4F1;
            cursor: pointer;

        }
    }
    .clear:hover{
        color: #E3E4F1;
        cursor: pointer;
    }
}