.add-form {
    display: flex;
    align-items: center;
    width: 585px;
    height: 65px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    font-size: 18px;
    color: #9495A5;
    position: relative;
    background-color: white;
    padding-left: 24px;
    top: -200px;

    .input-checkbox {
        width: 24px;
        height: 24px;
        border: 1px solid #E3E4F1;
        border-radius: 50%;
        cursor: pointer;
        appearance: none;
    }
    .input-checkbox:checked {
        background-image: url("../../../assets/images/icon-check.svg"),linear-gradient(#57DDFF,#C058F3);
        background-repeat: no-repeat;
        background-position: center;
    }

    .input-text {
        text-decoration: none;
        width: 468px;
        height: 24px;
        position: relative;
        border: none;
        padding-left: 24px;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.25px;
    }

    .input-text:focus {
        outline: none;
    }
}

.add-form.dark{
    background-color: #25273D;
    .input-text{
        background-color: #25273D;
    }
}