/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 18px;
}

body.dark{
    background-color: #171823;
}