.task{
    display: flex;
    align-items: center;
    width: 540px;
    height: 64px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    font-size: 18px;
    color: #9495A5;
    position: relative;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    top: -150px;
    border-bottom: #E3E4F1 solid;
    border-width: 1px;

    .task-checkbox {
        width: 24px;
        height: 24px;
        border: 1px solid #E3E4F1;
        border-radius: 50%;
        cursor: pointer;

    }

    .task-text {
        text-decoration: none;
        width: 468px;
        height: 24px;
        position: relative;
        border: none;
        padding-left: 24px;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.25px;
    }

    .task-text:focus {
        outline: none;
    }
    .cross{
        width: 18px;
        height: 18px;
    }
}
.task.disable{
    .cross{
        display: none;
    }
}